<rule name="rule 1L">
	<match url="^/Error?$"  />
	<action type="Rewrite" url="/404.php"  />
</rule>
<rule name="rule 2L">
	<match url="^product/([0-9]+)-([0-9]+)/([A-Za-z0-9\+\-]+)?$"  />
	<action type="Rewrite" url="/product.php?id={R:1}&amp;c={R:2}&amp;p_name={R:3}"  />
</rule>
<rule name="rule 3L">
	<match url="^category/([0-9]+)/([A-Za-z0-9\+\-]+)(?:/page-([0-9]+))?$"  />
	<action type="Rewrite" url="/category.php?id={R:1}&amp;cat_name={R:2}&amp;p={R:3}"  />
</rule>
<rule name="rule 4L">
	<match url="^brand/([0-9]+)-([0-9]+)/([A-Za-z0-9\+\-]+)(?:/page-([0-9]+))?$"  />
	<action type="Rewrite" url="/brand.php?id={R:1}&amp;c={R:2}&amp;brand_name={R:3}&amp;p={R:4}"  />
</rule>
<rule name="rule 5L">
	<match url="^OS/([0-9]+)-([0-9]+)/([A-Za-z0-9\+\-]+)(?:/page-([0-9]+))?$"  />
	<action type="Rewrite" url="/os.php?id={R:1}&amp;c={R:2}&amp;os_name={R:3}&amp;p={R:4}"  />
</rule>
<rule name="rule 6L">
	<match url="^cart/(add|remove|clear)/([0-9]+)/([A-Za-z0-9\+\-]+)?$"  />
	<action type="Rewrite" url="/cart.php?id={R:2}&amp;action={R:1}"  />
</rule>